<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.springbootdemo.clientservice.business.service" level="DEBUG"/>
    <logger name="com.springbootdemo.web.controller" level="DEBUG"/>
</configuration>
